@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.gradient {
  background: linear-gradient(
    129deg,
    rgba(179, 235, 255, 0.084) 10%,
    rgba(167, 232, 255, 0.49) 69%
  );
}

.gradient-2 {
  background: linear-gradient(255.55deg, #63c4fa 0%, #9cdcff 100%);
}

.highlight {
  background: linear-gradient(to bottom, transparent 50%, #63c4fa);
  width: fit-content;
}
